%h1 About
%p
  Welcome to my landing page!!
%p
  Its really cool 
%p
  You should log in with your instagram account




/ !!!
/ %html
/   %head
/     %title= yield(:title).empty? ? "Cookbook" : yield(:title)
/     = stylesheet_link_tag    "application", :media => "all"
/     = javascript_include_tag "application"
/     = csrf_meta_tags
/   %body
/     #page

/       %nav.navbar
/         %ul.left-nav
/           %li= link_to('Recipes', recipes_path)
/           %li= link_to('Ingredients', ingredients_path)
/           %li= link_to('Users', users_path)
/           %li= link_to('About', page_path("about"))
/           %li= link_to('Conditions of use', page_path("legal_mentions/condition"))
/         %ul.right-nav
/           %li
/             - if current_user
/               logged in as #{current_user.name} ,
/               = link_to 'Logout', logout_path, method: :delete
/             -else
/               = link_to "Login", login_path
/               or
/               = link_to "Sign up", signup_path
/         .clear


/       - flash.each do |name, message|
/         %div(class="flash-message flash-#{name}")
/           = message

/       %section#main
/         = yield

