%h1 Listing products

.heading
#thing.clearfix
  .sriBody
    #allPictures
      - @products.each do |product|
        .eachphoto
          = link_to edit_order_path(@current_order, :product_id => product.id) do
            = image_tag(product.example_url)









= link_to "Checkout", order_path(@current_order) 
